


:root{
    --boolstrap-search-dark: #e5e5e5;
    --boolstrap-bell: #ff8f00;
    --boolstrap-sidebar-dark-blue: #051e34;
    --boolstrap-class-bg: #f26551;
    --boolstrap-badge-bg: #165bba;
    --boolstrap-badge-hover-bg: #13468d;
    --boolstrap-sidenav-hover-bg: #a8a8a8;
}

.cm_class_bg{
    background-color: var(--boolstrap-class-bg);
    border-radius: 50%;
    color: white;
    line-height: 20px;
    padding: 0.25rem;
    margin-right: 0.5rem;
    
}

.cm_main_height{
    height: calc(100vh - 70px);
}



/* #region header */

header nav{
    height: 70px;
}

.cm_bell{
    color: var(--boolstrap-bell);
}

.cm_bg_search{
    background-color: var(--boolstrap-search-dark);
}

.cm_bg_sidebar{
    background-color: var(--boolstrap-sidebar-dark-blue);
    background-image: url(../assets/img/sidebar-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}




/* #endregion header */


.dropstart-toggle::after {
    display: none;
}

/* #region Sidebar */

.cm_sidenav_bg:hover{
    background-color: var(--boolstrap-sidenav-hover-bg);
}



/* #endregion Sidebar */


/* #region main */

.main{
    height: calc(100vh - 70px);
}

.cm_badge_bg{
    background-color: var(--boolstrap-badge-bg);
}

.cm_badge_bg:hover{
    background-color: var(--boolstrap-badge-hover-bg);
}

/* #endregion main */


@media screen and (max-width: 767px) {
    
    .offcanvas.offcanvas-end{
        width: 100%;
        
    }
    
}

@media screen and (min-width: 768px) {
    
    .offcanvas.offcanvas-end{
        width: 60%;
        
    }
    
}